@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  --very-dark-blue-main: hsl(217, 54%, 11%);
  --very-dark-blue-card: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--very-dark-blue-main);
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--very-dark-blue-card);
}

.card img {
  width: 100%;
  border-radius: 10px;

  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

.img-container {
  background-image: url('images/icon-view.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.card img:hover {
  cursor: pointer;
  opacity: 0.5;
}

h1 {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--white);
  text-align: left;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: var(--soft-blue);
  line-height: 1.5rem;
  font-weight: 300;
}

.price-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--cyan);
  font-weight: 700;
}

.price img {
  width: 12px;
}

.time {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--soft-blue);
}

.time img {
  width: 18px;
}

hr {
  border-color: var(--very-dark-blue-line);
  width: 100%;
}

.created-by {
  display: flex;
  align-items: center;
  gap: 20px;
}

.created-by img {
  width: 40px;
  border: 1px solid var(--white);
  border-radius: 999px;
}

.creator-name {
  color: var(--white);
}

h1:hover,
.creator-name:hover {
  color: var(--cyan);
  cursor: pointer;
}

.creator-name span {
  color: var(--soft-blue);
}

@media screen and (min-width: 375px) {
  .card {
    width: 375px;
  }
}
